<div ng-show="message" class="alert alert-danger fade in">
  <a href="#/" class="close" data-dismiss="alert">&times;</a>
  {{message}}
</div>

<h1>Bestell&uuml;bersicht <small>Schritt 1</small></h1>

<div ng-hide="cart.getItems().length" class="alert alert-warning">Noch keine Medien enthalten.</div>
<div ng-hide="cart.getItems().length" class="text-right">
<a class="btn btn-success" ng-href="#/newmedium" role="button" ng-click="selectNewMedia()">Neue Medien hinzuf&uuml;gen</a>
  <br/>
</div>

<div class="table-responsive">

  <table class="table" ng-show="cart.getItems().length">
    <thead>
    <tr>
      <th>Nr</th>
      <th>Auftrag</th>
      <th>Aktionen</th>
      <th class="text-right">Kosten</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in cart.getItems() track by $index">
      <th scope="row">{{$index+1}}</th>
      <td>Name: {{item.name}}  Anzahl: {{item.amount}}</td>
      <td><a ng-href="#/newmedium" ng-click="selectMedia(item)">&auml;ndern</a>&nbsp;<a ng-href="#/newmedium">l&ouml;schen</a></td>
      <td class="text-right">{{item.totalPrice | currency:"CHF ": 0}}</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="4" class="text-right">
        <a class="btn btn-success" ng-href="#/newmedium" role="button" ng-click="selectNewMedia()">Weitere Medien hinzuf&uuml;gen</a>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-right"><strong>Total {{cart.sum() | currency:"CHF ": 0}}</strong></td>
    </tr>
    </tfoot>
  </table>

  <nav>
    <ul class="pager">
      <li ng-hide="cart.getItems() == 0" class="next"><a href="#/address">weiter <span aria-hidden="true">&rarr;</span></a></li>
      <li ng-show="cart.getItems() == 0" class="next disabled"><a href="#/">weiter <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>

  <br>

</div>

