<h1>Bestell&uuml;bersicht <small>Schritt 1</small></h1>

<div class="table-responsive">

  <table class="table">
    <thead>
    <tr>
      <th>Nr</th>
      <th>Auftrag</th>
      <th class="text-right">Kosten [CHF]</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>XXXXXXXXXXXXXXXX</td>
      <td class="text-right">10.00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>YYYYYYYYYYYYYYYYYYYYYYYYYYYYY</td>
      <td class="text-right">40.00</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="3" class="text-right">
        <button type="button" class="btn btn-success">Medien hinzuf&uuml;gen</button>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="text-right"><strong>Total 50.00</strong></td>
    </tr>
    </tfoot>
  </table>

  <div class="text-right">
    <button type="button" class="btn btn-primary">weiter</button>
  </div>
  <br>

</div>

